<ul class="social-list">
    <li class="social-item">
        <a class="social-link" target ="_blank" href="https://www.linkedin.com/in/ricky-rodriguez-945177116/"><i class="fab fa-linkedin-in"></i></a>
    </li>
</li>
<li class="social-item">
  <a
    class="social-link"
    target="_blank"
    href="mailto:roderod22@gmail.com"
    ><i class="far fa-envelope"></i
  ></a>
</li>
<li class="social-item">
    <a
      class="social-link"
      target="_blank"
      href="https://www.instagram.com/ricky_elias"
      ><i class="fab fa-instagram"></i
    ></a>
  </li>
</ul>