<nav class="nav">
    <a href="/" class="logo">Patient Portal</a>

    <ul class="nav-list">
        <li class="nav-items">
            <a href="/appointments" class="nav-link">Appointments</a>
        </li>
        <li class="nav-items">
            <a href="/televisit" class="nav-link">TeleVisit</a>
        </li>
        <li class="nav-items">
            <a href="/records" class="nav-link">View My Records</a>
        </li>
        <li class="nav-items">
            <a href="#" class="nav-link">Manage Account</a>
        </li>
    </ul>
</nav>