<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="/js/newAppt.js"></script>
</head>

<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="book">
        <h1>Book a new appointment</h1>
        <form method="POST" class="main-form">
            <label for="office">Please select an office</label>
            <select name="office" id="office" class="form-control">
                <option value="newark">Newark</option>
                <!-- <option value="montclair">Montclair</option>
                <option value="clifton">Clifton</option> -->
            </select>
            <label for="doctor">Please select a doctor</label>
            <select name="doctor" id="doctor" class="form-control">
             <!-- <option value="">Please Select a Doctor</option> -->
                <!-- Append for JQUERY -->
            </select>
            <label for="visit">Please select a type of visit</label>
            <select name="visit" id="visit" class="form-control">
                <option value="true">Tele-Visit</option>
                <option value="false">In-Person</option>
                
            </select>
          
            <label for="appt_date">Please select a date</label>
            <input type="date" id="appt_date" name="appt_date" class="form-control">
           
            <label for="time">Please select a time</label>
            <select name="time" id="time" class="form-control">
                
            </select>
            <!-- <label for="end">Please select an end time</label>
            <select name="end" id="start" class="form-control"> -->
                
            </select>
            

            <button type="submit" name="Submit" class="btn btn-primary" id="bookApptBtn">Submit</button>
        </form>
</div>   

    <div class="previous">
        <h2>Your Appointments</h2>
        <ul class="text-box" id = "upcomingapts">
           <!-- <li> <a href="/televisit"><button class="btn btn-primary">12/10/2020 at 16:00</button></a></li>
           <li><a href="/televisit"><button class="btn btn-primary">09/25/2021 at 09:00</button></a></li> 
            Dynamically appended-->
           
        </ul>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>