<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="book">
        <h1>Book a new appointment</h1>
        <form action="apptform.rb" method="POST" class="main-form">
            <label for="office">Please select an office</label>
            <select name="office" id="office" class="form-control">
                <option value="newark">Newark</option>
                <!-- <option value="montclair">Montclair</option>
                <option value="clifton">Clifton</option> -->
            </select>
            <label for="doctor">Please select a doctor</label>
            <select name="doctor" id="doctor" class="form-control">
                <option value="stark">Dr. Stark</option>
                <option value="romanoff">Dr. Romanoff</option>
                <option value="banner">Dr. Banner</option>
            </select>
            <label for="visit">Please select a type of visit</label>
            <select name="visit" id="visit" class="form-control">
                <option value="true">Tele-Visit</option>
                <option value="false">In-Person</option>
                
            </select>
            <!-- <select name="day" id="day" class="form-control">
                <option value="stark">Monday</option>
                <option value="romanoff">Tuesday</option>
                <option value="banner">Wednesday</option>
                <option value="stark">Thursday</option>
                <option value="romanoff">Friday</option>
                <option value="banner">Saturday</option>
                <option value="banner">Sunday</option>
            </select> -->
            <label for="doctor">Please select a date</label>
            <input type="date" id="appt_date" name="appt_date" class="form-control">
            <label for="time">Please select a time</label>
            <select name="time" id="time" class="form-control">
                <option value="9">09:00 - 09:30 </option>
                <option value="9.5">09:30 - 10:00 </option>
                <option value="10">10:00 - 10:30 </option>
                <option value="11">11:00 - 11:30</option>
                <option value="1.5">13:30 - 14:00</option>
            </select>
            <!-- <label for="end">Please select an end time</label>
            <select name="end" id="start" class="form-control"> -->
                
            </select>
            

            <button type="submit" name="Submit" class="btn btn-primary">Submit</button>
        </form>
</div>   

    <div class="previous">
        <h2>Upcoming Appointments</h2>
        <ul class="text-box">
           <li> <a href="/televisit"><button class="btn btn-primary">12/10/2020 at 16:00</button></a></li>
           <li><a href="/televisit"><button class="btn btn-primary">09/25/2021 at 09:00</button></a></li>
            
            
        </ul>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>