<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    
    <script src="/js/records.js"></script>
</head>

<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    
    <div class="book single-page">
        <h1>View Consultation Summaries</h1>

        <!-- <div class="text-box">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#first">09/10/2020</button>
        </div> -->
        
        
                <div class="modal fade" id="summary" tabindex="-1" aria-labelledby="summaryLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="summaryLabel"></h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p id="constSummary">Summary from Doctor ...</p>
                            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               
                            </div>
                        </div>
                    </div>
                   
                </div>
                


            <ul class="list-group" id="summaryList">
                <!-- <li class="list-group-item" id="733">09/10/2020 at 5pm 
                    <button type="button" class="btn btn-primary summaryBtn" data-toggle="modal" data-target="#summary">Consultation Summary</button>
                    
                </li>
                <li class="list-group-item" id="562">09/10/2019 at 4pm<button type="button" class="btn btn-primary summaryBtn" data-toggle="modal" data-target="#summary">Consultation Summary</button></li>
                <li class="list-group-item" id="302">Morbi leo risus<button type="button" class="btn btn-primary summaryBtn" data-toggle="modal" data-target="#summary">Consultation Summary</button></li>
                <li class="list-group-item" id="205">Porta ac consectetur ac<button type="button" class="btn btn-primary summaryBtn" data-toggle="modal" data-target="#summary">Consultation Summary</button></li>
                <li class="list-group-item" id="100">Vestibulum at eros<button type="button" class="btn btn-primary summaryBtn" data-toggle="modal" data-target="#summary">Consultation Summary</button></li> -->
              </ul>
      

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>